<div class="col-md-8">
  <div class="btn-toolbar">
  <button class="btn btn-primary" ui-sref="home">Home</button>
  <button class="btn btn-primary" ui-sref="sign-in">Sign-In Sheet</button>
  </div>

  <h1>Who's Here?</h1>
  <div ng-show="students.length">
    <h2>Students in attendance</h2>

    <ul>
      <li ng-repeat="item in students | filter: item.signedIn = true">
        <h3>{{ item.name }}</h3>
        </li>
    </ul>
  </div>
  <h2>Students not in attendance</h2>
  <ul>
    <li ng-repeat="item in students | filter: item.signedIn = false">
      <h3>{{ item.name }}</h3>
    </li>
  </ul>
</div>
